


 

  .main-div{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* backdrop-filter: blur(10px); */
  
  }

  .cen
  {
    
   margin-left:60px;
  }

  .bg-color 
{
  /* background-color: #e9e9e9; */
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('../../../images/kaze.jpg');
  
}