




  <mat-toolbar>
   <span>Search</span>
 </mat-toolbar>


 <div class="bg-color">
 <div class="main-div">
  

 <mat-card class="my-card">
  <div class="class-div">
    <mat-card-content>
       
        
       <form class="my-form">
          <mat-form-field >
             <mat-label>Search news</mat-label>
            
             <input  matInput  name="id" [(ngModel)]="newsfrmhtml" placeholder="Category">
          </mat-form-field>
         
       </form>
     
    </mat-card-content>
    <div class="cen">
    <mat-card-actions>
       
     <button mat-raised-button (click)="searchnews()" color="primary">Search</button>
     
   </mat-card-actions>
</div>
  </div>
 </mat-card>

 </div>
</div>