


<mat-toolbar color="primary">

  <span>Your Comments</span>
  <span class="example-spacer"></span>

</mat-toolbar>

<div class="bg-color">
  <div class="container">
    <div class="row">

      <mat-card class="col-xs-12 col-sm-9 col-md-7 col-lg-5 mx-auto my-4 example-card card-flyer"
        *ngFor="let article of cmtArticles">
        <mat-card-header>

          <mat-card-title>{{ article.title }}</mat-card-title>

        </mat-card-header>
        <div class="image-box">
          <img mat-card-image class="img-article" src="{{ article.urlToImage }}" alt="">
        </div>

        <div class="text-box">
          <mat-card-content>
            <p>
              {{ article.description }}
            </p>
            <h3>
              {{ article.commentnws }}
            </h3>
          </mat-card-content>
        </div>


        <!-- <mat-card-actions class="action-buttons">
        
        <button mat-button color="primary" (click)="addtofavRE(article.title )"><mat-icon>favorite</mat-icon>Like</button>
        <button mat-button color="primary"(click)="showlogin()"><mat-icon>comment</mat-icon>Comments</button>
        <button mat-button color="primary"><mat-icon>open_in_new</mat-icon> <a href="{{ article.url }}" > Learn More</a></button>
       
      </mat-card-actions> -->
      <mat-card-actions class="action-buttons">
        <div class="bottom-pre btn-box">
        <button mat-raised-button (click)="DeleteData(article.title)" color="primary">
          Delete
        </button>
      </div>
      </mat-card-actions>

      </mat-card>

    </div>
  </div>
</div>