<!-- <mat-expansion-panel class="clspanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Player
      </mat-panel-title>
      <mat-panel-description>
     Player DAta
    
      </mat-panel-description>
    </mat-expansion-panel-header>
  <div>
    
      
      <input matInput name="id" [(ngModel)]="studentobj.studentid" placeholder="Enter Studentid">
    
  <br>
  
      
      <input matInput  [(ngModel)]="studentobj.studentName" placeholder="Enter Student">
    
  <br>
  
  
      
      <textarea matInput  [(ngModel)]="studentobj.addr" placeholder="Enter Address"> </textarea>
   <br>
    
  </div>
  
  <button (click)="addplayer()">Add Player</button>
  
  </mat-expansion-panel> -->

  <!-- <button (click)="addplayer()">Add News</button> -->